.add-new-company-form-div{
 
    border: 2px solid rgba(0, 0, 0, 0.282);
    border-radius: 20px;
   padding-left: 60px;
   padding-right: 60px;
    padding-top: 40px;
    margin-top: 70px;
    padding-bottom: 70px;
 margin-bottom: 40px;
}

#add-new-company-base{
    width:40%;
}
h2{ 
    padding-bottom: 20px;
    float: left;
}
.form-checkbox{
    padding-left: 25px;
    float: left;
}




.submit-button{
    margin-top: 20px;
    border-radius: 50px !important;
    width: 100%;

}



@media only screen and (max-width: 800px) {
       
#add-new-company-base{
    width:80%;
}
            
  }  

  @media only screen and (max-width: 350px) {

    #add-new-company-base{
        width:90%;
    }
    .add-new-company-form-div{
 
        border: 2px solid rgba(0, 0, 0, 0.282);
        border-radius: 20px;
       padding-left: 20px;
       padding-right: 20px;
     
    }
    
      
}  
@media only screen and (max-width: 1000px) {

    #add-new-company-base{
        width:60%;
    }
      
}  

@media only screen and (max-width: 600px) {

    #add-new-company-base{
        width:95%;
    }
      
}  