.admin-button{
    color : #fff;
    background-color: green;
    width: 200px;
    height: 100px;
    border-radius: 15px;
    margin: 20px;
    transition: 0.3s;
}

.admin-button:hover{
    box-shadow: -1px 1px 37px 7px rgba(0,0,0,0.5);
    width: 220px;
    height: 120px;
    
}


.user-button{
    color : #fff;
    background-color: rgb(255, 0, 0);
    width: 200px;
    height: 100px;
    border-radius: 15px;
    margin: 20px;
    transition: 0.3s;
}

.user-button:hover{
    box-shadow: -1px 1px 37px 7px rgba(0,0,0,0.5);
    width: 220px;
    height: 120px;
    
}