.card {
    width: 220px;
    height: 254px;
    background-image: linear-gradient(144deg,#8608b4, #492fed 60%,#bd6fda);
    border: none;
    position: relative;
    margin: 20px;
    font-family: inherit;
    float: left;
    
   }
   
   .card span {
    font-weight: 600;
    color: white;
    text-align: center;
    display: block;
    padding-top: 10px;
    font-size: 1.3em;
   }

   .avatar{
    width: 70px;
    height: 70px;
    background: #e8e8e8;
    border-radius: 100%;
    margin: auto;
   }
   
   .card .job {
    font-weight: 400;
    color: white;
    display: block;
    text-align: center;
    padding-top: 5px;
    font-size: 1em;
   }
   
   .card .img {
    width: 70px;
    height: 70px;
    background: #e8e8e8;
    border-radius: 100%;
    margin: auto;
    margin-top: 20px;
   }
   
   .card button {
    padding: 8px 25px;
    display: block;
    margin: auto;
    border-radius: 8px;
    border: none;
    margin-top: 20px;
    background: #e8e8e8;
    color: #111111;
    font-weight: 600;
    transition: 0.3s;
    margin-bottom: 15px;
   }
   
   .card button:hover {
    background: #212121;
    color: #ffffff;
   }
   .company-data-text-history{
    margin-left: 180px ;
    text-align: start;
    border-radius: 9px;
    height: 100%;
  }

  .title-hr{
    padding: 15px;
  }
