@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');


.navigation-corp-page {
    text-align: center;
}

.height-controller-container{
    min-height: 40vh;
}
.TopBox {
    width: 71px;
    height: 5px;
    margin: 0 auto;
    background: #406ff3;
    border-radius: 0 0 12px 12px;
}

.HoverBox {
    width: 55px;
    height: 55px;
    margin: 0 auto;
    background: #406ff3;
    border-radius: 10px;
    position: absolute;
    z-index: 0;
    left: 15px;
    top: 20px;
    transition: 250ms;
    box-shadow: -1px 1px 32px 9px rgba(33, 15, 235, 0.21);

}

.PageContact {
    margin-left: 200px;
    margin-right: 103px;
    margin-top: 47px;
}

.MenuBox>ul>li>span {
    position: absolute;
    left: 80%;
    opacity: 0;
    top: 12px;
    margin-left: 2rem;
    color: #406ff3;
    background: #fff;
    transition: 250ms ease all;
    border-radius: 17.5px;
    line-height: 0;
    padding: 16px 15px;
    z-index: -1;
    -webkit-box-shadow: 1px 1px 15px -1px rgba(0,0,0,0.56); 
    box-shadow: 1px 1px 15px -1px rgba(0,0,0,0.56);
    
}

.MenuBox>ul>li {
    display: block;
    width: 55px;
    height: 55px;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    z-index: 1;
    margin-bottom: 12px;
    line-height: 68px;
}

.MenuBox:not(:hover),
.MenuBox>ul>li:hover svg {
    color: white;
}

.MenuBox>ul>li:hover span {
    display: block;
    left: 100%;
    opacity: 1;
}

.Active>svg {
    color: white;
}
.company-data-text{
    margin-top: 30px;
    margin-left: 130px ;
    text-align: start;
    border-radius: 9px;
    box-shadow: -1px 1px 32px 9px rgba(0,0,0,0.21);
    padding: 30px;
    height: 100%;
    width: 860px;
  }

 

.feather {
    color: #6e6c6c;
    margin-bottom: 10px;
    width: 25px;
    transition: 1s;
}

.MenuBox {
    background: white;
    position: absolute;
    margin: 34px 12px;
    height: 70%;
    border-radius: 9px;
    box-shadow: -1px 1px 32px 9px rgba(0,0,0,0.21);
}

.Contact {
    display: flex;
}

.MenuBox>ul {
    padding: 0 15px;
    margin-top: 15px;
}

.PageContact>div {
    transition: .5s;
}

@keyframes Effect_0 {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(0.5, 1.5);
    }
    100% {
        transform: scale(1, 1);
    }
}

@keyframes Effect_1 {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(0.5, 1.5);
    }
    100% {
        transform: scale(1, 1);
    }
}

@keyframes Effect_2 {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(0.5, 1.5);
    }
    100% {
        transform: scale(1, 1);
    }
}

@keyframes Effect_3 {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(0.5, 1.5);
    }
    100% {
        transform: scale(1, 1);
    }
}

@keyframes Effect_4 {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(0.5, 1.5);
    }
    100% {
        transform: scale(1, 1);
    }
}

@keyframes Effect_5 {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(0.5, 1.5);
    }
    100% {
        transform: scale(1, 1);
    }
}




/* End Style About Box  */ 