.summary-main-div {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two equal columns */
  height: 100%;
}

.personal-info-left {
  grid-column: 1; 
}

.company-info-right {
  grid-column: 2; 
}

/* Styles for personal-info-left section */
.personal-information {
  border: 2px solid black;
  border-radius: 15px;
  margin: 20px;
  display: flex;
  flex-direction: row;

}

.personal-notifications{
    border: 2px solid black;
    border-radius: 15px;
    margin: 20px;
    display: flex;
    flex-direction: column;
  
  }

/* Styles for comapny-info-right section */
.company-information,
.company-status {
  border: 2px solid black;
  margin: 20px;
  border-radius: 15px;

}
.user-avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 20px;
    }
    .user-details{
        margin: 20px;
    }

 
.notification{
    border: 1px solid rgba(80, 80, 80, 0.679);
    padding: 10px;
    border-radius: 15px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.notification-icon{
    padding: 5px;
   background-color: lightblue;
   border-radius: 15px 15px 0px 0px ;
}

.notification-title{
    font-size: large;
    font-weight: bold;
}

.notification-subject{
    font-size: medium;
    font-weight: bold;
}

.notification-text{
    font-style: oblique;
}
