.main-truck {
    display: block;
    margin: 0 auto;
    border-radius: 15px;
    width: 60%;
  }
  
  .main-depo {
    display: block;
    margin: 0 auto;
    border-radius: 15px;
    width: 60%;
  }
  
  .logout-button{
    display: block;
    margin: 0 auto;
    border-radius: 15px;
    width: 60%;
  }