.main-truck {

  display: flex;
  justify-content: center;
}

.lightBlueSection {
  background-color: lightblue;
  width: 100%;
  height: 500px;
  padding: 20px;
}

.greenSection{
  background-color: rgb(132, 201, 132);
  width: 100%;
  height: 500px;
  padding: 20px;
}

.LoremIpsum {
  margin-bottom: 20px;
  border-left: 1px solid white;
  padding: 20px;
  max-height: 100%;
}

.main1 {
  margin-top: 100px;
}

.main-page-div{
  margin-left: 20px;
  margin-right: 30px;
}