@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);

* {
  font-family: Open Sans;
}



  
.subscribe-txt{
  border-top: 2px solid rgba(68, 68, 68, 0.577);
  border-bottom: 2px solid rgba(68, 68, 68, 0.577);
text-align: center;
}
  #container{
    margin-top: auto;
    width: 100%;

  }
  
  .links-footer {
    background:
      linear-gradient(
        to right,
        rgb(243, 243, 243),
        rgb(255, 158, 158)
      ),
      linear-gradient(
        to right,
        rgba(255, 0, 0, 1),
        rgba(255, 0, 180, 1),
        rgb(64, 80, 224)
    );
    background-size: 100% 3px, 0 3px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
  }

  .links-footer:hover {
    background-size: 0 3px, 100% 3px;
  }

.footer-distributed {
  background: #aba7a7;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding-top: 55px ;
  padding: 10px;
  border-top: 2px solid rgba(100, 99, 99, 0.419);
}

@media (max-width: 880px) {
  .footer-distributed {
    font: bold 14px sans-serif;
  }
}

.logoFooter {
  width: 100px;
  height: 100px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right,
.footer-distributed .footer-newsletter {
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
  width: 10%;
}

/* The company logo */

.footer-distributed h3 {
  color: #ffffff;
  font: normal 36px "Open Sans", cursive;
  margin: 0;
}

.footer-distributed h3 span {
  color: lightseagreen;
}

/* Footer links */

.footer-distributed .footer-links{
  color:  #ffffff;
  padding: 0;
}

.footer-distributed .footer-links a {
  font-weight: 400;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-company-name {
  color: #222;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
  width: 20%;
}

.footer-distributed .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  font-weight: 400;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-distributed .footer-center p a {
  color: white;
  text-decoration: none;
}

.footer-distributed .footer-links a:before {
  font-weight: 300;
  font-size: 20px;
  left: 0;
  color: #fff;
  padding-right: 5px;
}

/* Footer Right */

.footer-distributed .footer-right {
  width: 20%;
}

.footer-newsletter {
  width: 45%;
}

/* If you don't want the footer to be responsive, remove these media queries */

.newsletter {
  border-radius: 15px;
  background-color: #aba7a7;
  padding: 30px;
  color: white;
  width: 100%;
  max-width: 900px; 
  margin: 0 auto;
  font-size: 20px;
  font-weight: bold;
  border: 2px solid rgba(68, 68, 68, 0.577);
}

.subscribe-button{
  background-color: lightblue !;
}
@media (max-width: 920px) {
  .footer-distributed .footer-newsletter {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed {
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i {
    margin-left: 0;
  }


}